.restaurantCard {
	width: 20.4rem; /*327px*/
	height: 12.6rem; /*202px*/
	padding: 1rem;
	border-radius: 8px;
	border: var(--border-1);
	justify-content: space-between;
	box-shadow: var(--shadow-1);
	background-color: var(--color-white);
}
