.restaurantCard {
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	padding: 0.8rem;
	border-radius: 8px;
	border: var(--border-1);
	box-shadow: var(--shadow-1);
	background-color: var(--color-white);
	margin-bottom: 0.5rem;
}

.restaurantName {
	font-size: var(--font-size-h1); /* 24px */
	letter-spacing: var(--font-letter-spacing-h1);
	font-weight: var(--font-weight-h1);
}

.topRow,
.bottomRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.topRowBadges {
	display: flex;
	gap: 0.4rem;
}

.deliveryTimeBadge {
	font-family: var(--font-family-primary);
	padding: 8px 12px 8px 12px;
	border-radius: 8px;
	border: var(--border-1);
	box-shadow: var(--shadow-1);
	background-color: var(--color-white);
	font-size: var(--font-size-body);
}

.restaurantArrow {
	transform: translate(-25%, -25%);
}
