@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-green: #00703a;
	--bg-light-grey: #f9f9f9;
	--heading-h1: 48px;
}

html,
body {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: var(--bg-light-grey);
	width: 100vw;
}

h1 {
	font-size: var(--heading-h1);
	color: #fff;
	font-weight: 760;
	font-family: 'SF Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	line-height: 3rem;
	margin-bottom: 1rem;
	letter-spacing: -1px;
}

p {
	color: #fff;
	font-size: 0.875rem;
	font-weight: 400;
}
