.main {
	width: 90vw;
	margin: 0 auto;
}

.sidePanel {
	display: none;
}

.logo {
	align-self: flex-start;
	padding-top: 4rem;
}

.subtitle {
	font-size: var(--font-size-subtitle);
	line-height: var(--font-line-height-subtitle);
	letter-spacing: var(--font-letter-spacing-subtitle);
	font-weight: var(--font-weight-subtitle);
	text-transform: uppercase;
	color: #9c9c9c;
}

.deliveryTimeContainer {
	padding-block: var(--spacing-large);
}

.timeRangeCards {
	display: flex;
	gap: 1rem;
}

.filterCardContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	margin: 0 auto;
	width: 90vw;
	padding-block: var(--spacing-large);
}

.restaurantCardContainer {
	width: 90vw;
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 1rem;
}

@media (min-width: 550px) {
	.filterCardContainer {
		width: 100%;
		grid-template-columns: repeat(4, 1fr);
	}

	.restaurantCardContainer {
		width: 100%;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 768px) {
	.restaurantCardContainer {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1024px) {
	.filterCardContainer.filterCardContainerSidePanel {
		display: flex;
		flex-direction: column;
	}

	.categoryName {
		font-family: var(--font-family-primary);
	}

	.active {
		/* border: 2px solid var(--color-green); */
		text-decoration: underline;
		text-underline-offset: 6px;
		text-decoration-color: var(--color-green);
	}

	.restaurantCardContainer {
		grid-template-columns: repeat(3, 1fr);
	}

	.layoutGrid {
		width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 20% 80%;
		/* grid-template-rows: 1fr, 2fr; */
		column-gap: 1rem;
	}

	.sidePanel {
		width: 100%;
		padding: 2rem 1rem;
		display: block;
		grid-column: 1/1;
		grid-row: 1/3;
		display: flex;
		flex-direction: column;
	}

	.foodCategory {
		grid-column: 1;
		grid-row: 1/2;
	}

	.deliveryTimeContainer {
		grid-column: 1;
		grid-row: 2/3;
	}

	.priceRangeContainer {
		grid-column: 1;
		grid-row: 3/4;
	}

	.timeRangeCards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) {
	/*Two classes to distinguish styles for
	category cards in top menu and side panel*/
	.filterCardContainer {
		grid-template-columns: repeat(7, 1fr);
	}

	.restaurantCardContainer {
		grid-template-columns: repeat(4, 1fr);
	}
}
