.main {
	width: 90vw;
	margin: 0 auto;
}

.logo {
	align-self: flex-start;
	padding-top: 3rem;
}

.subtitle {
	font-size: var(--font-size-subtitle);
	line-height: var(--font-line-height-subtitle);
	letter-spacing: var(--font-letter-spacing-subtitle);
	font-weight: var(--font-weight-subtitle);
	text-transform: uppercase;
	color: #9c9c9c;
}

.deliveryTimeContainer {
	padding-block: var(--spacing-large);
}

.timeRangeCards {
	display: flex;
	gap: 1rem;
}

.deliveryTimeBtn.active {
	background-color: #4caf50;
	color: var(--color-white);
}

.filterContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin: 0 auto;
	width: 90vw;
	padding-block: var(--spacing-large);
}

.activeFilter {
	background-color: rgb(217, 215, 218);
}

.active {
	background-color: #007bff; /* Example color */
	color: var(--color-white);
}
