.main {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.logo {
	align-self: flex-start;
	padding-top: 3rem;
}

.subtitle {
	font-size: var(--font-size-subtitle);
	line-height: var(--font-line-height-subtitle);
	letter-spacing: var(--font-letter-spacing-subtitle);
	font-weight: var(--font-weight-subtitle);
	text-transform: uppercase;
	color: #9c9c9c;
}

.timeRangeContainer {
	display: flex;
	gap: 1rem;
}

.deliveryTimeBtn.active {
	background-color: #4caf50;
	color: var(--color-white);
}

.filterContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin: 0 auto;
	width: 90vw;
}

.activeFilter {
	background-color: rgb(217, 215, 218);
}

.active {
	background-color: #007bff; /* Example color */
	color: var(--color-white);
}

/* .delivery_time_btn {
	color: rgb(142, 133, 142);
	border: 1px solid rgb(126, 122, 126);
	padding: 4px 6px;
	cursor: pointer;
} */
