.categoryCard {
	display: flex;
	justify-content: space-between;
	border-radius: 8px;
	border: var(--border-1);
	box-shadow: var(--shadow-1);
	background-color: var(--color-white);
	cursor: pointer;
	padding: 0.5rem;
}

.categoryName {
	font-family: var(--font-family-primary);
}

.active {
	border: 2px solid var(--color-green);
}

